.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0 0px 5px 0px;
  }
  
.footerWrapper {
  background: black;
  min-height: 100px;
  margin-top: 25px;
  color: white;
}