
.grid-bx {
  background-color: #fff;
  box-shadow: 2px 1px 9px #DCDCDC;
  -moz-box-shadow: 2px 1px 9px #DCDCDC; 
  position: relative;
}

.checkbox-wrapper {
  position: absolute;
  right: 5px;
  padding: 5px;
  z-index: 1;
  cursor: pointer;
}

.doctorList {
  line-height: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #373c4f;
  z-index: 2;
}