
.grid-bx {
  background-color: #fff;
  box-shadow: 2px 1px 9px #DCDCDC;
  -moz-box-shadow: 2px 1px 9px #DCDCDC; 
  position: relative;
}

.checkbox-wrapper {
  float: right;
  padding: 5px;
  z-index: 1;
  cursor: pointer;
  margin: -6px;
}

.doctorList {
  line-height: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #373c4f;
  z-index: 2;
}

.backBtn {
  i {
    font-size: 10px;
    vertical-align: 1px;
  }
  cursor: pointer;
  border-bottom: 1px solid;
  padding: 4px 5px 4px 0;
  margin: 15px 0px;
  display: inline-block;
  font-size: 14px;
}