.container-fluid {
	.login-container {
		width: 40%;
		margin: 13rem auto;
		.login-wrapper {
			.login-title {
				color: #fff;
				font-family: cursive;
				background-color: rgba(55, 60, 79, 1);
			}
			.login-body {
				form {
					margin-top: 0;
					padding: 40px 80px 30px 80px;
					.icons {
						color: #fff;
						background-color: rgba(55, 60, 79, 1);
					}
					.username-input , .password-input {
						margin-bottom: 25px;
					}
					.login-btn {
						background-color: #373c4f;
						outline: none;
						border: 0px;
						box-shadow: none;
						&:hover {
							background-color: darken(#373c4f, 10%);
						}
						&:active {
							box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
							background-color: darken(#373c4f, 20%);
						}
					}
				}
				.input-box {
					background-color: #eceff1 !important;
					font-weight: 300;
					padding-left: 15px !important;
					border: 0px;
					box-shadow: none;
					&:focus {
						outline: none !important;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.login-container {
		width: 60% !important;
	}
}

@media screen and (max-width: 800px) {
	.login-container {
		width: 80% !important;
	}
}

@media screen and (max-width: 600px) {
	.container-fluid .login-container {
		width: 90% !important;
		margin: 5rem auto;
	}
	.login-body {
		form {
			padding: 40px 15px 30px 15px !important;
		}
	}
}