<header>
    <div style="float:left;width:100%;padding:7px 0;background:#eee;text-align:center;" class="">
      <div style="width:100%;max-width:1170px;color:rgba(0,0,0,0.9);font-family:montserrat;font-size:12px;display:inline-block;">
        <div style="float:left">Website Logo</div>
        <div style="float:right">
          <a style="text-decoration:none;color:rgba(0,0,0,0.8);font-family:montserrat;margin-left:15px;">FAQ</a>
          <a style="text-decoration:none;color:rgba(0,0,0,0.8);font-family:montserrat;margin-left:15px;">Contact Us</a>
          <a style="text-decoration:none;color:rgba(0,0,0,0.8);font-family:montserrat;margin-left:15px;" ng-click="logout()">Logout</a>
        </div>
      </div>
    </div>
  </header>