<div ng-if="!showpatientReport" style="margin: 20px 0;">
    <div>Here are all your patients : </div>
</div>
<div ng-if="!showpatientReport" ng-repeat="patient in storage.patients" class="col-sm-4">
    <div class="grid-bx panel panel-default">
        <div style="position: relative;min-height: 150px;" class="panel-body">
            <div class="overlay">
                <button ng-click="showUserReport($index)" style="position: absolute; top: calc(50% - 17px); left: calc(50% - 49px);" class="btn btn-info">View Reports</button>
            </div>
        </div>
        <div style="color: rgba(0,0,0,0.5);" class="panel-footer">
            <span>{{patient.name}}</span>
        </div>
    </div>
</div>
<div ng-if="showpatientReport">
    <div class="backBtn" ng-click="hideUserReport()"><i class="fa fa-chevron-left"></i> Back to patients</div>
    <div ng-include="'views/patientRecords.html'"></div>
</div>